@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: #4AC959;
  text-underline-offset: 0.3rem;
}

@layer components {
  .list-container {
    @apply w-[45%] xl:w-2/5 bg-white drop-shadow-[0_4px_10px_rgba(66,66,66,0.2)] flex flex-col justify-between z-20
  }

  .list-header-container {
    @apply flex flex-col items-center
  }

  .list-stripe {
    @apply py-2 w-full
  }

  .list-title {
    @apply poppins leading-8 text-xl md:text-3xl xl:text-6xl md:leading-10 xl:leading-relaxed
  }

  .list-p {
    @apply montserrat
  }

  .list {
    @apply mx-4 my-6 md:mx-10 xl:mx-20
  }

  .erase-all-button {
    @apply bg-black text-white mx-4 md:mx-10 xl:mx-20 mb-4 xl:mb-12 py-1 lg:py-4 rounded montserrat font-bold text-base lg:text-xl
  }

  .task {
    @apply flex items-center justify-between mb-2 xl:mb-4 xl:text-3xl
  }

  .delete-button {
    @apply montserrat text-coopers-gray text-[0.5rem] md:text-sm cursor-pointer
  }

  .contact-form {
    @apply border border-coopers-black p-2 rounded-sm lg:rounded
  }

  .login-button {
    @apply bg-black text-white poppins py-1 px-4 z-20 xl:py-2 xl:px-10
  }
}
