@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: #4AC959;
}

@layer components {
  .input {
    @apply border border-[#06152B] p-2 rounded-sm mt-1
  }

  .label-input {
    @apply flex flex-col mb-4
  }

  .list-container {
    @apply pb-8 bg-white z-20 mt-20 flex flex-col items-center w-[180px] shadow-[0_4px_12px_0px_rgba(66,66,66,0.198454)]
  }

  .list-title {
    @apply poppins font-semibold text-xl
  }

  .list-p {
    @apply leading-tight text-sm montserrat
  }

  .list {
    @apply w-4/5 montserrat text-xs my-8
  }

  .task {
    @apply leading-6 flex mb-3 w-full
  }

  .erase-tasks {
    @apply bg-black px-8 py-1 text-white montserrat font-semibold rounded-md
  }
}
